<ion-tabs>

  <ion-tab-bar slot="bottom" color="secondary">
    <ion-tab-button tab="dashboard">
      <ion-icon name="menu-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="activity">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Activity</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="budget">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>Budget</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="accounts">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>Accounts</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="youtube">
      <ion-icon name="logo-youtube"></ion-icon>
      <ion-label>Youtube</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
